/*======= common style =======*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
    font-weight: 400;
    color: var(--grey01);
    background-color: #F5F5F5;
}

@media only screen and (max-width: 360px) {
    body {
        min-width: 320px;
        overflow-x: hidden;
    }
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
    opacity: 1;
    color: unset;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
    transition: .2s;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

.container {
    /* custum */
    max-width: 1200px;
    transition: 0.2s;
}

:root {
    --grey01 : #262A37;
    --grey02 : #6A6A6A;
    --grey03 : #ECECEC;
    --blue: #2A72DE;
    --blue-gradient: linear-gradient(44.02deg, #956AEA 5.97%, #56D6E5 94%);
    --pink: #ED2973;
    --pink-gradient: linear-gradient(44.02deg, #ED2973 5.97%, #FE7249 94%);
    --shadow-box: 0px 0px 20px 0px #00456312;
    --green-gradient: linear-gradient(180deg, #00A861 0%, #13D4EB 100%);
}

.btn-pink-gradient {
    background-image: var(--pink-gradient);
    box-shadow: 0px 0px 15px 0px rgba(237, 41, 115, 0.25);
}

.btn-blue-gradient {
    background-image: var(--blue-gradient);
    box-shadow: 0px 0px 15px 0px rgba(145, 113, 234, 0.25);
}

.no-shadow { 
    box-shadow: unset !important;
}

.color-pink {
    color: var(--pink) !important;
}

.color-blue {
    color: var(--blue) !important;
}

main {
    margin-top: 70px;
    margin-bottom: 60px;
}

@media (max-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

section.hero {
    position: relative;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-for-page {
    background-image: url(../images/hero-page-bg.jpg);
}

.hero__inner {
    padding-top: 105px;
}

.hero-page__inner {
    padding-top: 108px;
    height: 227px;
    color: #fff;
}

.hero-page__inner h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.breadcrumb-site {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-site li {
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px;
    position: relative;
}

.breadcrumb-site li + li::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    left: 0px;
    top: 48%;
}

.content-page p {
    font-size: 16px;
}

/* =====start header===== */
header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}

.header__inner {
    padding: 13px 0px;
    justify-content: space-between;
}

.header__right {
    flex: 1;
    justify-content: flex-end;
    justify-content: space-between;
}

.header__logo {
    margin-right: 8.5%;
}

.header__logo img {
    max-width: 138px;
}

.header__nav {
    margin-right: 5.9%;
}

.header__nav ul li {
    margin-right: 7.5%;
}

.header__nav ul li:last-child {
    margin-right: 0px;
}

.header__nav ul li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    padding: 10px 0px;
    transition: 0.2s;
}

.header__nav ul li a:hover svg path {
    fill: var(--pink);
}

.header__nav ul li a:hover {
    color: var(--pink);
    opacity: 1;
}

.header__nav ul li a svg {
    margin-left: 2px;
    transition: 0.2;
}

.header__nav ul li a svg path {
    transition: 0.2;
}

.header__bt {
    gap: 5px;
}

.header__search {
    position: relative;
}

.header__search input {
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 60px;
    color: #fff;
    max-width: 146px;
    background-color: transparent;
    padding: 7.5px 12px;
}

.header__search input:focus {
    background-color: transparent;
}

.header__search svg {
    position: absolute;
    right: 14px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
}

.header__search input::placeholder {
    color: #fff;
    font-size: 14px;
}

/* ======end header====== */

/* ======class common====== */
.btn-site {
    font-size: 14px;
    font-weight: 600;
    padding: 8.5px 15px;
    color: #fff;
    border-radius: 20px;
    border: unset;
    overflow: hidden;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-site::before {
    position: absolute;
    content: "";
    width: 16%;
    height: 140%;
    background-color: rgba(255, 255, 255, 0.403);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255);
    left: -50%;
    top: 50%;
    transition: 0.5s;
    transform: translateY(-50%) rotate(15deg);
}

.btn-site:hover::before {
    left: 120%;
}

.btn-site svg {
    margin-right: 8px;
}

.btn-site:hover {
    color: #fff;
}

.title__news-list {
    color: var(--blue);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.new__item-cm {
    box-shadow: 0px 0px 20px 0px #00456312;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 6px;
    overflow: hidden;
    align-items: flex-start;
    gap: 8px;
}

.new__item-cm .thumb a img {
    transition: 0.5s;
}

.new__item-cm .thumb a:hover img  {
    transform: scale(1.1);
}

.new__item-cm.column  {
    min-height: 364px;
}

.new__item-cm.column .thumb {
    position: relative;
    border-radius: 6px 6px 0px 0px;
    overflow: hidden; 
}

.new__item-cm.column .thumb img {
    max-height: 205px;
    border-radius: 6px 6px 0px 0px;
    object-fit: cover;
}

.new__item-cm.new__row .thumb img {
    width: 130px;
    height: 135px;
    border: 6px;
    object-fit: cover;
}

.new__item-cm.column .thumb .cat {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
}

.new__item-cm.column  .desc {
    padding: 20px;
}

.new__item-cm  .desc .location {
    font-size: 12px;
    color: var(--blue);
}

.new__item-cm  .desc {
    flex: 1;
}

.new__item-cm  .desc .location span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.new__item-cm  .desc .location img {
    width: auto;
    margin-right: 2px;
}

.new__item-cm  .desc h3 a {
    font-size: 16px;
    font-weight: 600;
    margin: 6px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.new__item-cm.column  .desc h3 a {
    font-size: 18px;
}

.new__item-cm .desc h3 a:hover {
    color: var(--blue);
}

.new__item-cm  .desc  .time-date {
    font-size: 12px;
    font-weight: 400;
    color: var(--pink);
}

.new__item-cm  .desc  .time-date img {
    width: auto;
    margin-right: 2px;
}

.new__item-cm  .desc .time {
    margin-right: 10px;
}

.new__item-cm  .desc p {
    margin-top: 10px;
    font-size: 14px;
    color: #585858;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.new__item-cm.new__row  {
    padding: 20px;
}

.new__item-cm.new__row .desc p {
    margin-top: 5px;
    line-height: 1.2;
}

.new__item-cm.new__row .thumb {
    border-radius: 6px;
    overflow: hidden;
}

.new__item-cm.new__row .desc .cat {
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
}

.new__item-cm.new__row .desc .location {
    margin-top: 5px;
}

.new__item-cm.new__row  .desc h3 a {
    margin: 4px 0px
}

.wrap-title__block {
    margin-bottom: 30px;
    border-bottom: 2px solid var(--grey03);
    flex-wrap: wrap;
}

.wrap-title__block h2 {
    padding: 13px 15px;
    background-image: var(--blue-gradient);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 6px 6px 0px 0px;
}

.wrap-title__block a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--blue);
    padding: 5px 0px;
}

.wrap-title__block a  img {
    margin-left: 3px;
    max-width: 22px;
}

.wrap-title__block a:hover img {
    transform: translateX(2px);
}

aside {
    width: 100%;
}

.aside__block {
    box-shadow: 0px 0px 20px 0px #00456312;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
}

.aside__block .wrap-title__block h2 {
    background-image: none;
    color: var(--blue);
    padding: 0px 10px 0px 0px;
} 

.aside__block .wrap-title__block {
    border-bottom: 0px;
}

.aside__block .new__item-cm .desc  h3 a {
    font-size: 16px;
    margin: 5px 0px;
}

.aside__block .new__item-cm {
    margin-bottom: 20px;
}

.aside__block .new__item-cm:last-child {
    margin-bottom: 0px;
}

.wrap__chart {
    width: 100%;
}

.wrap__chart img {
    width: 100%;
}

.chart__result {
    margin-top: 15px;
    justify-content: space-between;
}

.chart__result .item {
    padding-left: 25px;
    position: relative;
    font-size: 14px;
    color: #959595;
}

.chart__result .item::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    border-radius: 6px;
}

.chart__result .item.blue::after {
    background: var(--blue-gradient);
}

.chart__result .item.pink::after {
    background: var(--pink-gradient);
}

.chart__result .item.green::after {
    background: var(--green-gradient);
}

.chart__result .item span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #262A37;
}

.video__yt {
    position: relative;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.video__yt button {
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.video__yt button:hover {
    transform: translate(-50%, -50%) scale(0.9);
}

.wrap-video__yt {
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.wrap-video__yt .video__yt {
    width: calc(100%/2 - 5px);
    position: relative;
}

.wrap-video__yt .video__yt button {
    max-width: 68px;
}

.aside__link {
    margin-bottom: 15px;
}
/* ======class common====== */

footer {
    background: var(--blue-gradient);
    position: relative;
}

.footer__inner {
    padding: 20px 0px 16px;
} 

.footer__inner .copyright {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.send-reflect {
    position: fixed;
    right: 33px;
    bottom: 44px;
    z-index: 9999;
    max-width: 201px;
}

.send-reflect a:hover {
    opacity: 0.8;
}

.send-reflect::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 38px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #d12e7217;

    animation: sendreflect 1.6s cubic-bezier(0.39, 0.58, 0.57, 1) infinite;
    z-index: -1;
}

@keyframes sendreflect {
    0% {
        width: 0%;
        height: 0%;
    }
    100% {
        width: 110px;
        height: 110px;
    }
}

@-webkit-keyframes sendreflect {
    0% {
        width: 0%;
        height: 0%;
    }
    100% {
        width: 90px;
        height: 90px;
    }
}