/* ========home page style======== */

main.main-home-page {
    padding-top: 50px;
}

.hero-home {
    background-image: url(../images/hero-home-bg.jpg);
    height: 696px;
}

.hero-home__title {
    color: #fff;
    padding-top: 16px;
}

.hero-home__title h1 {
    font-size: 44px;
}

.hero-home__title p {
    font-size: 16px;
    margin: 15px 0px 21px;
}

.link-store  {
    margin-top: 58px;
}

.link-store img {
    width: auto;
    position: relative;
    z-index: 2;
    max-height: 60px;
    object-fit: cover;
}

.link-store a {
    cursor: pointer;
    position: relative;
}

.link-store a:hover {
    opacity: 0.8;
}

.link-store a:nth-child(2) img {
    margin-left: 20px;
}

.hero-home__title .btn-site {
    font-size: 16px;
    padding: 13px 25px;
    border-radius: 30px;
    align-items: center;
}

.hero-home__img {
    position: relative;
}

.hero-home__img > img {
    margin: 0 auto;
    width: auto;
}

.hero-home__img .__img-ab {
    position: absolute;
}

.hero-home__img .__img-ab img {
    width: auto;
}

.__img-ab:first-of-type {
    top: 187px;
    left: 0px;
}

.__img-ab:last-of-type {
    top: 39px;
    right: -10px;
}

.wrap__cat-slider {
    position: relative; 
    margin-top: -182px;
}

.wrap__cat-slider .inner {
    box-shadow: 0px 0px 20px 0px rgba(0, 69, 99, 0.07);
    border-radius: 20px;
    background-color: #fff;
    padding: 45px 85px 44px;
}

.cat-slide__item {
    display: block;
}

.cat-slide__item img {
    margin: 0 auto;
    width: auto;
    max-width: 100px;
}

.cat-slide__item svg {
    margin: 0 auto;
    width: auto;
    max-width: 100px;
    display: block;
    transition: 0.2s;
}

.cat-slide__item svg path {
    transition: 0.2s;
}

.cat-slide__item .thumb {
    background: transparent;
    padding: 10px;
    border-radius: 15px;
    transition: background  0.2s;
}

.cat-slide__item .thumb:hover {
    background: var(--pink-gradient);
}

.cat-slide__item .thumb:hover svg path {
    fill: #fff;
}

.cat-slide__item {
   padding: 0 15px;
}

.cat-slide__item p {
    font-size: 16px;
    max-width: 170px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cat-slide .slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid  #A2A0A9;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-slide .slick-arrow:hover svg path {
    fill: var(--pink);
}

.cat-slide .slick-arrow::before {
    content: none;
}

.cat-slide .slick-arrow:hover {
    border-color: var(--pink);
}

.cat-slide .slick-arrow.slick-prev {
    left: -50px;
}

.cat-slide .slick-arrow.slick-next {
    right: -50px;
}

.cat-slide .slick-arrow.slick-next svg {
    transform: rotate(180deg);
}



/* ===============responsive=============== */

@media only screen and (max-width: 1200px) {
    .hero-home__img > img {
        max-width: 260px;
    }
    .hero-home__img .__img-ab img {
        max-width: 180px;
    }
    .__img-ab:first-of-type {
        top: 170px;
        left: 60px;
    }
    .__img-ab:last-of-type {
        top: 66px;
        right: 65px;
    }
    .hero-home__title h1 {
        font-size: 36px;
    }
    .link-store {
        margin-top: 45px;
    }
}

@media only screen and (max-width: 1024px) {
    .__img-ab:last-of-type {
        right: 10px;
    }
    .__img-ab:first-of-type {
        left: 0px;
    }
}

@media only screen and (max-width: 991px) {
    .hero-home__img {
        display: none;
    }
    .hero-home {
        height: 660px;
    }
}

@media only screen and (max-width: 768px) {
    .cat-slide__item .thumb svg {
        width: 40px;
        height: 40px;
    }
    .cat-slide__item .thumb svg path {
        fill: #fff;
    }
    .cat-slide__item .thumb {
        width: 62px;
        height: 60px;
        margin: 0 auto;
        background: var(--blue-gradient);
    }
    .cat-slide__item p {
        font-size: 12px;
        margin-top: 10px;
        max-width: 113px;
    }
    .wrap__cat-slider .inner {
        padding: 30px 23px;
        border-radius: 30px;
    }
    .cat-slide .slick-arrow {
        border: 0px;
    }
    .cat-slide__item {
        padding: 0px 7.5px;
    }
    .wrap__cat-slider .container {
        padding: 0px;
    }
    .cat-slide .slick-arrow.slick-next {
        right: -25px;
    }
    .cat-slide .slick-arrow.slick-prev {
        left: -25px;
    }
    .cat-slide .slick-arrow:hover {
        border-color: transparent;
    } 
    .cat-slide .slick-arrow:hover svg path {
        fill: unset;
    }
    .wrap__cat-slider {
        margin-top: -40px;
        overflow-x: hidden;
    }
    .hero-home__title h1 {
        font-size: 22px;
        text-align: center;
        text-transform: inherit;
    }
    .hero-home__title h1 br,
    .hero-home__title p,
    .hero-home__title .btn-site,
    .link-store {
        display: none !important;
    }
    .hero-home {
        height: 230px;
    }
    .hero__inner {
        padding-top: 119px;
    }
    .hero-home__title {
        padding-top: 0px;
    }
    section.hero {
        background-position: top;
        background-image: url(../images/hero-home-bg-sp.jpg);
    }
    main.main-home-page {
        padding-top: 30px;
    }
}   
