/* ========home page style======== */
main.main-home-page {
    margin-top: 50px;
}
.hero-home {
    background-image: url(../images/hero-home-bg.jpg);
    height: 696px;
}

.hero-home__title {
    color: #fff;
}

.hero-home__title h1 {
    font-size: 44px;
}

.hero-home__title p {
    font-size: 16px;
    margin: 15px 0px 21px;
}

.link-store  {
    margin-top: 58px;
}

.link-store img {
    width: auto;
    position: relative;
    z-index: 2;
    max-height: 60px;
    object-fit: cover;
}

.link-store a {
    cursor: pointer;
    position: relative;
}

.link-store a:hover {
    opacity: 0.8;
}

.link-store a:nth-child(2) img {
    margin-left: 20px;
}

.hero-home__img {
    position: relative;
}

.hero-home__img > img {
    margin: 0 auto;
    width: auto;
}

.hero-home__img .__img-ab {
    position: absolute;
}

.hero-home__img .__img-ab img {
    width: auto;
}

.__img-ab:first-of-type {
    top: 187px;
    left: 0px;
}

.__img-ab:last-of-type {
    top: 39px;
    right: -10px;
}

.hero-home__title .btn-site {
    font-size: 16px;
    padding: 13px 25px;
    border-radius: 30px;
    align-items: center;
}

.wrap__cat-slider {
    position: relative; 
    margin-top: -182px;
}

.wrap__cat-slider .inner {
    box-shadow: 0px 0px 20px 0px rgba(0, 69, 99, 0.07);
    border-radius: 20px;
    background-color: #fff;
    padding: 45px 85px 44px;
}

.cat-slide__item img {
    margin: 0 auto;
    width: auto;
    max-width: 100px;
}

.cat-slide__item {
   padding: 0 15px;
}

.cat-slide__item p {
    font-size: 16px;
    max-width: 170px;
    font-weight: 500;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cat-slide .slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid  #A2A0A9;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-slide .slick-arrow:hover svg path {
    fill: var(--pink);
}

.cat-slide .slick-arrow::before {
    content: none;
}

.cat-slide .slick-arrow:hover {
    border-color: var(--pink);
}

.cat-slide .slick-arrow.slick-prev {
    left: -50px;
}

.cat-slide .slick-arrow.slick-next {
    right: -50px;
}

.cat-slide .slick-arrow.slick-next svg {
    transform: rotate(180deg);
}

.wrap-title__home {
    margin-bottom: 30px;
    border-bottom: 2px solid var(--grey03);
}

.wrap-title__home h2 {
    padding: 15px;
    background-image: var(--blue-gradient);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 6px 6px 0px 0px;
}

.wrap-title__home a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--blue);
    padding: 5px 0px;
}

.wrap-title__home a  img {
    margin-left: 3px;
    max-width: 22px;
}

.wrap-title__home a:hover img {
    transform: translateX(2px);
}

